.cck_count.error_box{
  /*padding-bottom: 8px;*/ 
  padding:  0 8px; 
  border-radius: 8px; 
  -moz-border-radius: 8px; 
  -webkit-border-radius: 8px; 
  margin-bottom: 3px;
  background-color: #F00903;
  color: #fff;
}

.cck_count_warning span {
  color: #F89509;
}

.cck_count_error span {
  color: #F00903;
  font-weight: bold;
}